<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>

    <title>VueProject</title>
</head>
<body>
    <div id="app">
        <h1>Ajouter des données de l'étudiant</h1>
        <form @submit.prevent> 
            <label for="numEt">Numéro :</label>
            <input type="text" name="numEt" id="numEt" v-model="numEt" :pattern="pattern.numEt" required><br>
            <label for="nom">Nom :</label>
            <input type="text" name="nom" id="nom" v-model="nom" required :pattern="pattern.nom"><br>
            <label for="note_math">Note Maths :</label>
            <input type="text" name="note_math" id="note_math" v-model="note_math" required :pattern="pattern.note_math"><br>
            <label for="note_phys">Note Physique :</label>
            <input type="text" name="note_phys" id="note_phys" v-model="note_phys" required :pattern="pattern.note_phys"><br>
            
            <button type="submit" @click="boutonMA">{{todo}}</button>          
            <button type="submit" @click="reset">Reset</button>          
        </form>
        
        <div>
           <table>
                <tr>
                    <th v-for="titre in head">{{titre}}</th>
                </tr>
                <tr v-for="(etudiant,i) in etudiants">
                    <td v-for="elem in etudiant">{{elem}}</td>
                    <td>{{(etudiants[i].note_math+etudiants[i].note_phys)/2}}</td>
                    <td><button v-on:click="modify(i)">Modifier</button></td>
                    <td><button v-on:click="suppr(i)">Supprimer</button></td>
                </tr>
           </table>
       </div>

       <div>
            <p>Moyenne de classe: {{ infos.moyenneClasse}} </p>
            <p>Moyenne maximale: {{ infos.maxMoyenne}} </p>
            <p>Moyenne minimale: {{ infos.minMoyenne}} </p>
            <p>Nombre de redoublants: {{ infos.numberRedoublants}} </p>
            <p>Nombre d'admis: {{ infos.numberAdmis}} </p>
        </div>

    </div>

    <script src="vue.js"></script>
    <script src="axios.min.js"></script>

    <script type="text/javascript">
        var app = new Vue({
            el : "#app",
            data : {
                head : ["Numero de l'élève","Nom de l'élève ","Note de math",'Note de phys','Moyenne', 'Modification', 'Suppression'],
                etudiants : [
                    {numEt : "11" , nom : "Andry", note_math : 44 , note_phys : 55},
                    {numEt : "22" , nom : "Ary", note_math : 66 , note_phys : 77},
                    {numEt : "33" , nom : "Leo", note_math : 88 , note_phys : 99},
                    {numEt : "44" , nom : "Pen", note_math : 11 , note_phys : 22},
                ],
                numEt: '',
                nom: '',
                note_math: '',
                note_phys: '',
                modifier : false,
                todo : 'Ajouter',
                Num_Avant : null,
                Nom_Avant : null,
                math_Avant : null,
                phys_Avant : null,
                idx : null,

                pattern:{ 
                    numEt: '^[0-9]+$',
                    nom: '^[a-zA-Z]+$',
                    note_math: '^([01]?[0-9](\.[0-9]{1,2})?|20(\.0{1,2})?)$',
                    note_phys: '^([01]?[0-9](\.[0-9]{1,2})?|20(\.0{1,2})?)$'
                },

                infos: {
                    moyenneClasse:'',
                    minMoyenne: '',
                    maxMoyenne: '',
                    numberRedoublants: '',
                    numberAdmis: ''
                }
            },
            
            methods: {
                getEtudiants() {
                    axios.post('/model.php', 
                    {
                        action: 'fetchall'
                    })
                    .then(function (response){
                        console.log(response.data)
                        app.etudiants = response.data;
                    })
                    .catch(function (error) {
					console.log(error);
				});
                },

                
                getInfos() {
                    axios.post('/model.php', 
                    {
                        action: 'getall'
                    })
                    .then(function (response){
                        console.log(response.data)
                        app.infos = response.data;
                    })
                    .catch(function (error) {
					console.log(error);
				});
                },

                createEtudiant() {
                    return {
                        numEt: app.numEt,
                        nom: app.nom,
                        note_math: app.note_math,
                        note_phys: app.note_phys
                    }
                },

                resetForm() {
                    app.numEt = '',
                    app.nom = '',
                    app.note_math = '',
                    app.note_phys = '',
                    this.$refs.form.reset();

                },

                addEtudiant() {
                    if (this.$refs.form.checkValidity()) {
                    let etudiant = this.createEtudiant()
                        axios.post('/model.php',
                        {
                            action: 'insert',
                            numEt: app.numEt,
                            nom: app.nom,
                            note_math: app.note_math,
                            note_phys: app.note_phys
                        })
                        .then((response) =>{
                            app.etudiants.push(etudiant)
                            this.resetForm()
                        })
                        .catch(function(error) {
                            console.log(error)
                        })
                        this.resetForm();
                    } else {
                        console.log('Form validation failed');
                        // const form = this.$refs.form;
                        // const numEtInput = form.elements.numEt;
                        // const nomInput = form.elements.nom;
                        // const noteMathInput = form.elements.note_math;
                        // const notePhysInput = form.elements.note_phys;

                        // if (!numEtInput.validity.valid) {
                        //     numEtInput.setCustomValidity('Entrez un nombre s\'il vous plaît');
                        // }

                        // if (!nomInput.validity.valid) {
                        //     nomInput.setCustomValidity('Entrez un nom sans caractères spéciales');
                        // }

                        // if (!noteMathInput.validity.valid) {
                        //     noteMathInput.setCustomValidity('Entrez une note entre 0 et 20');
                        // }

                        // if (!notePhysInput.validity.valid) {
                        //     notePhysInput.setCustomValidity('Entrez une note entre 0 et 20');
                        // }
                        // form.reportValidity();
                    }
                },

                updateEtudiant(ancien, index) {
                    let etudiant = this.createEtudiant()
                    
                    axios.post('/model.php',
                    {
                        action: 'update',
                        numEt: app.numEt,
                        nom: app.nom,
                        note_math: app.note_math,
                        note_phys: app.note_phys,

                        ancientNum: ancien
                    })
                    .then((response)=>{
                        app.etudiants.splice(index,1 , etudiant)
                        this.resetForm()
                    })
                    .catch(function(error) {
                        console.log(error)
                    })
                },

                deleteEtudiant(num, index) {
                    axios.post('/model.php',
                    {
                        numEt: num
                    })
                    .then(function(response){
                        app.etudiants.splice(index, 1)
                    })
                    .catch(function(error) {
                        console.log(error)
                    })
                },

                modify : function(indice){
                    this.nom = this.etudiants[indice].nom
                    this.numEt = this.etudiants[indice].numEt
                    this.note_math = this.etudiants[indice].note_math
                    this.note_phys = this.etudiants[indice].note_phys
                    this.Nom_Avant = this.etudiants[indice].nom
                    this.Num_Avant = this.etudiants[indice].numEt
                    this.math_Avant = this.etudiants[indice].note_math
                    this.phys_Avant = this.etudiants[indice].note_phys
                    this.todo = 'Modifier'
                    this.modifier = true
                    this.idx = indice
                },

                boutonMA : function(){
                    if(this.modifier){
                        // atao refa modifier
                        this.updateEtudiant(this.Num_Avant,this.idx)
                    }
                    else {
                        // atao refa ajouter
                        this.addEtudiant()
                    }
                    this.reset()
                },

                reset : function(){
                    this.nom = '',
                    this.numEt = '',
                    this.note_math = null,
                    this.note_phys = null,
                    this.modifier = false
                    this.Nom_Avant = '',
                    this.Num_Avant = null,
                    this.math_Avant = null,
                    this.phys_Avant = null,
                    this.modifier = false,
                    this.todo = 'Ajouter',
                    this.idx = null
                },

                suppr : function(indice){
                    // atao @le supprimer
                    this.deleteEtudiant(this.etudiants[indice], indice)
                }
            },
            mounted() {
                this.getEtudiants()
                this.getInfos()

            }
            

        })
    </script>
</body>
</html>